
:global {
  .ops_header{
    .ops_header_center{
      margin-block-end: 50px;
      .header_menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .header_menu_item{
          display: inline-block;
          margin: 6px 20px;
          padding: 4px 7px;
          border-radius: 6px;
          color: gray;
          cursor: pointer;
          .header_menu_item_label{
            margin-left: 10px;
          }
        }
        .header_menu_item:hover{
          background-color: #efeff1;
          color: black
        }
      }
    }
    .ops_header_refresh{
      float:right;
      button + button {
        margin-left: 8px;
      }
    }
  }
}
